body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background: linear-gradient(45deg, silver, white);
}
img {
    width: 50%;
    border-style: outset;
    border-width: 5px;
}
